__pycache__/
ORB_SLAM3/
EuRoC/machine_hall/
EuRoC/vicon/
testing/check_installation
EuRoC/.get_dataset.sh.swn
EuRoC/.get_dataset.sh.swo
utils/*.png
artifacts/
EuRoC/
Lumos5G/
artifacts_check/
artifacts_fit/
artifacts_new/
output/
output_greedy/
Simulation/output/
build/
box_plot_e2e.pdf
box_plot_scheduling.pdf
RealDevelopment/*.png
Simulation/FullDevelopment/*.txt